fastapi
uvicorn
python-multipart
pypdf
python-docx

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16

langchain-groq
langchain-huggingface
langchain-text-splitters


chromadb
sentence-transformers

streamlit
requests

python-dotenv

pydantic

openai-whisper
SpeechRecognition
pyaudio